* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  width: 100vw;
}

.title-container {
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.title-container ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}

.title-container li {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 1rem;
  border-radius: 25px;
  animation: transform 2s ease-in-out;
  
}

.title-container li:hover {
  animation: transform 2s ease-in-out;
  background-color: black;
  color: white;
  transform: scale(1.2);
}

.buttons-container{
  width:100%;
  height:5%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: black;
  font-size: 1.2rem;

}

.buttons-container button {
  font-size: 1.2rem;
}


/* .option-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5rem;
}

select {
  text-align: center;
  font-size: 1.1rem;
} */

.content-container{
  width: 100%;
  height: 100%;
  overflow: auto;
  color: white;
  /* border: 1px solid white; */
}

.project-container {
  display: flex;
  background-color: gray;
  border: 1px solid white;
  /* padding: rem; */
  flex-wrap: wrap;
  /* gap: 0.2rem; */
}

.projects {
  /* border: 1px solid white; */
  width: 250px;
}

.footer-container{ 
  border: 1px solid black;
  height: 5%;
  text-align: center;
}

img {
  height: 200px;
  width: 100%;
}

.links-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-container {
  padding: 0.2rem;
  min-height:200px;
  font-size: 0.9rem;
}

.detail-container{ 
  height:125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-logo {
  height: 30px;
  width: 30px;
}

.live-logo {
  height: 25px;
  width: 25px;
}

.live-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.source-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

a { 
  color: white;
}