@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /* background-color: white; */
  background-image: url("https://images.pexels.com/photos/11629034/pexels-photo-11629034.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* border: 5px solid black; */
}

.slide-container {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow: hidden;
  /* border: 5px solid red; */
  height: 55%;
  opacity: 80%;
}

.slide{
  /* border: 5px solid black; */
  /* background-color: rgb(44, 155, 224); */
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 5px solid white; */
}

.about-me-container {
  /* background-color: rgb(44, 155, 224); */
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
}

.about-me {
  /* border: 5px solid black; */
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.name-container {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.social-container{
  /* border: 1px solid white; */
  display: flex;
  height: 10%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-container img {
  height: 45px;
}

.social-container img:hover {
  transform: scale(1.5);
}

.title-container {
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(44, 155, 224); */
  
  /* padding: 1rem; */
}

nav {
  text-align: center;
  color: black;
}

.title-container ul {
  padding: 0.5rem;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}

.title-container li {
  text-align: center;
  background-color: white;
  color: black;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 15px;
}

a{
  text-decoration: none;
}
.filters-container {
  display: flex;
  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
}

.filter-text {
  /* border: 1px solid black; */
  width: 100px;
}

.title-container li:hover {
  background-color: black;
  color: white;
  /* transform: scale(1.2); */
}

.title-select {
  /* border: 1px solid white; */
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.slide-btn {
  /* border: 1px solid blue; */
  /* background-color:rgb(44, 155, 224) ; */
  border-bottom: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  opacity: 80%;

}

.slide-btn button {
  font-size: 5rem;
  border: none;
  /* border: 3px solid white; */
  background: none;
}

.slide-btn button:hover {
 transform: scale(1.2);
 color: white;
}


.buttons-container{
  /* border: 1px solid black; */
  width:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  color: black;
  font-size: 1.2rem;
  padding: 0.3rem;
  /* background-color:rgb(44, 155, 224); */
  
}

.buttons-container button {
  font-size: 1.05rem;
  background-color: white;
  border-radius: 15px;
  padding: 0.1rem;
  border: none;
  cursor: pointer;
}

.buttons-container button:hover {
  background-color: black;
  color: white;
  /* transform: scale(1.1); */
}

h3 {
  color: black;
  /* background-color: gray; */
  /* width: 100%; */
  text-align: center;
  /* background-color :rgb(44, 155, 224); */
}

.content-container{
  width: 100%;
  height: 85%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: white; */
}

.up-down-container {
  display :flex;
  justify-content: space-between;
  align-items: center;
}

.up-down-container p {
  font-size: 1.8rem;
}

.up-down-container button {
  font-size: 3rem;
  font-weight: 1000;
  background: none;
  border: none;
}

.up-down-container button:hover {
  color:red ;
  transform: scale(1.4);
  cursor: pointer;
}

.up-down-container button:hover:nth-child(1) {
  color:rgb(15, 255, 175);
  transform: scale(1.4);
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 750px;
  overflow-y: scroll;
  overflow: hidden;
  height: 31vh;
  /* margin-top: 0.2rem; */
}

.projects {
  overflow-y: scroll;
  border: 4px solid white;
  width: 30%;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-e;
  background-color: white;
}

.footer-container{ 
  border-top: 3px solid white;
  height: 5%;
  text-align: center;
  /* background: gray; */
  opacity: 80%;

}

img {
  height: 200px;
  width: 100%;
}

.links-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.info-container {
  min-height:200px;
  font-size: 0.9rem;
}

.detail-container{ 
  height:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.github-logo {
  height: 30px;
  width: 30px;
}

.live-logo {
  height: 25px;
  width: 25px;
}

.live-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.source-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

a { 
  color: black;
}

/* @media (max-width: 500px){
  .title-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
  }

  .buttons-container{
    width:100%;
    height:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
  }

  .project-container {
    display: flex;
    background-color: lightskyblue;
    justify-content: center;
  }

  .projects {
    border: 2px dotted black;
    width: 300px;
  }
} */